{% extends 'layout.html' %}

{% block title %}ImageList{% endblock %}

{% block content %}
<h1>Image List</h1>
<p> {{ message }} </p>
</h1>
<center>----------image with no face detected----------</center></h1><br>
{% for image in noface %}


<center><img src="{{url_for('sendImages', filename=image['filename'])}}" width="360" height="200">
    </p>Number of Faces = {{ image['numberofFaces'] }}</p>
    </p>Number of Masks = {{ image['numberofMasks'] }}</p>

</center>
<hr>

{% endfor %}

</h1>
<center>----------image with all face are wearing masks----------</center></h1><br>
{% for image in allFaceWithMask %}


<center><img src="{{url_for('sendImages', filename=image['filename'])}}" width="360" height="200">
    </p>Number of Faces = {{ image['numberofFaces'] }}</p>
    </p>Number of Masks = {{ image['numberofMasks'] }}</p>

</center>
<hr>

{% endfor %}

</h1>
<center>----------image with all face are not wearing masks----------</center></h1><br>
{% for image in allFaceNoMask %}


<center><img src="{{url_for('sendImages', filename=image['filename'])}}" width="360" height="200">
    </p>Number of Faces = {{ image['numberofFaces'] }}</p>
    </p>Number of Masks = {{ image['numberofMasks'] }}</p>

</center>
<hr>

{% endfor %}

</h1>
<center>----------image with only some face are wearing masks----------</center></h1><br>

{% for image in someFaceWithMask %}


<center><img src="{{url_for('sendImages', filename=image['filename'])}}" width="360" height="200">
    </p>Number of Faces = {{ image['numberofFaces'] }}</p>
    </p>Number of Masks = {{ image['numberofMasks'] }}</p>

</center>
<hr>

{% endfor %}


<!--        <img src="{{ image }}" alt="User Image">-->


{% endblock %}