{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Face Mask Detection{% else %}Welcome to Face Mask Detection{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                    {% if session['loggedin'] %}
                    <a class="navbar-brand" href="{{ url_for('imageUpload') }}">Image Upload</a>
                    <a class="navbar-brand" href="{{ url_for('imageView') }}">Image View</a>
                    {% endif %}
            </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if not session['loggedin'] %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('change_my_password') }}">change password</a></li>
                    {% endif %}
                    {% if session['admin_auth'] %}
                    <li><a href="{{ url_for('userManager') }}">User manager</a></li>
                    <li><a href="{{ url_for('add_new_user') }}">add new user</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="text-align: center;width: 100%; color: red; margin-bottom: 5px;">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>>
                            <strong>{{ message }}</strong>>
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}