
{% extends 'layout.html' %}

{% block title %}ImageList{% endblock %}

{% block content %}

    <form action='{{url_for("imageUpload")}}' method='post'>
        <input type='submit' value='Upload' />
    </form>

<hr>
   <table>
    {% for image in images %}
        <img src="{{url_for('sendImages', filename='0.jpeg')}}" width = "400" height = "200" alt=image>
        </p>Number of Faces = {{ image['filename'] }}</p>
        </p>Number of Faces = {{ image['numberofFaces'] }}</p>
        </p>Number of Masks = {{ image['numberofFaces'] }}</p>
       <hr>
<!--        <img src="{{ image }}" alt="User Image">-->
    {% endfor %}
    </table>

{% endblock %}