{% extends 'layout.html' %}
{% block title %}<h1>Upload Image</h1>{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Upload an image</h1>


            <p> {{ message }} </p>
            <form action="/imageUpload" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Select image from local file</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" id="image" oninput="filesize(this);">
                        <label class="custom-file-label" for="image">Select image...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <br>
            <br>
            <form action="/imageUpload" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Or Input Url</label>
                    <br>
                    <div class="custom-file">
                        <label>url</label>
                        <input type='text' name = 'url' id  = 'url'>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}
<script>
  function filesize(elem){
    document.cookie = `filesize=${elem.files[0].size}`
  }

</script>



