<!DOCTYPE html>
<html>
<head>Upload Image</head>

<body>
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Upload an image</h1>
            <hr>

            <form action="/imageUpload" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Select image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" id="image" oninput="filesize;">
                        <label class="custom-file-label" for="image">Select image...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>

        </div>
    </div>
</div>

</body>
<script>
  function filesize(){
    console.log("test")
<!--    console.log(elem.files[0].size);-->
  }

</script>
</html>


