{% extends "base.html" %}
{% block content %}


      <h3>
         <a href = "{{ url_for('show all User') }}">Comments - Flask
            SQLAlchemy example</a>
      </h3>


      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>username</th>
               <th>email</th>
               <th>manager</th>
            </tr>
         </thead>

         <tbody>
            {% for user in user %}
               <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td><input type="button" value="Delete" οnclick="delete()"></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
{% endblock %}