{% block content %}


      <table class="table table-striped">
        <caption>User Management</caption>
         <thead>
             <tr>
                <th>ID</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Delete</th>
             </tr>
         </thead>
         <tbody>
            {% for user in usertable %}
               <tr>
                  <td>{{ id }}</td>
                  <td>{{ username }}</td>
                  <td>{{ email }}</td>
                   <td><a herf="admin/usermanager/deleteuser/{{id}}}" method ='GET'>Delete</a></td>
               </tr>
            {% endfor %}
         </tbody>
       </table>


{% endblock %}
